
.ContactUs{
  text-align: center;
  border: 1px solid #97BA00;
  width: 350px;
  margin: auto;
  border-radius: 1em;
  font-size: 13px;
}
.btn1{
margin: auto;

}
.texts{
  font-size: 15px;
}

.map{
  height: 50%;
}
